@model notienendqver.Models.Almacen

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Deseas borrar este Almacen?</h3>
<div>
    <h4>Almacen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreAlmacen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreAlmacen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LugarAlmacen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LugarAlmacen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodAlmacen" />
        <input type="submit" value="Borrar" class="btn btn-danger"/>
        <a asp-action="Index" class="btn btn-warning">Regresar</a>
    </form>
</div>
