@model notienendqver.Models.Beneficiario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles Beneficiario</h1>

<div>
    <hr />
    <dl class="row" style="background-color:white">
        <dt class="col-sm-2 ">
            @Html.DisplayNameFor(model => model.CodBeneficiario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodBeneficiario)
        </dd>
        <dt class = "col-sm-2 ">
            @Html.DisplayNameFor(model => model.NombreCBeneficiario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCBeneficiario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DniBeneficiario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DniBeneficiario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoBeneficiario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoBeneficiario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechBeneficiario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechBeneficiario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>
    <hr />
    <div>
        <button class="btn btn-secondary">Generar Lista</button>
        <a asp-action="Index" class="btn btn-primary">Regresar</a>
    </div>
</div>


