@model notienendqver.Models.Material

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles Materiales</h1>
<div>
    <hr />
    <dl class="row" style="background-color:white">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodVivienda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodVivienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescrpMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescrpMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.CodAlmacenNavigation)*@
            Nombre del Almacen
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodAlmacenNavigation.NombreAlmacen)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.CodProveedorNavigation)*@
            Nombre del Proveedor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodProveedorNavigation.NombProveedor)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.CodViviendaNavigation)*@
            Direccion Vivienda
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodViviendaNavigation.DirVivienda)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Index" class="btn btn-primary">Regresar</a>
    <button class="btn btn-secondary">Generar Kardex</button>
</div>
