@model notienendqver.Models.Viviendum

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Deseas borrar esta vivienda?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirVivienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirVivienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaVivienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaVivienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoVivienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoVivienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoVivienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoVivienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.CodBeneficiarioNavigation)*@
            Nombre Beneficiario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodBeneficiarioNavigation.NombreCBeneficiario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodVivienda" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-warning">Regresar</a>
    </form>
</div>
