@model notienendqver.Models.Contrato

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Contrato</h1>
<div>
    <h3>¿Deseas borrar este Contrato?</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodViviendaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodViviendaNavigation.DirVivienda)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodContrato" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Regresar</a>
    </form>
</div>
