@model IEnumerable<notienendqver.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Contratos</h1>
<hr />
<table class="table table-light">
    <thead class="table table-success">
        <tr>
            <th>
            @Html.DisplayNameFor(model => model.TipoContrato)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CodViviendaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.TipoContrato)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CodViviendaNavigation.DirVivienda)
            </td>
            <td>
                    <a asp-action="Edit" class="fa-solid fa-file-signature" asp-route-id="@item.CodContrato"></a>
                    <a asp-action="Details" class="fa-solid fa-circle-info" asp-route-id="@item.CodContrato"></a>
                    <a asp-action="Delete" class="fa-solid fa-trash" asp-route-id="@item.CodContrato"></a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Create" class="btn btn-success">Agregar Contrato</a>
</div>

